include AUTHORS.rst
include CHANGELOG.rst
include README.rst
include LICENSE
recursive-include post/fixtures *
recursive-include post/templates *
recursive-include post/templatetags *
recursive-include post/locale *
recursive-include post/tests *
