{% extends "jmbo/inclusion_tags/modelbase_detail.html" %}
{% load jmbo_template_tags pagination_tags ultracache_tags %}

{% block content %}
    {% ultracache 3600 'object-detail-inclusion' object.id object.modified request.page %}
        {% with object.content_pages as content_pages %}
            {% autopaginate content_pages 1 %}

            {% if '<img' not in object.content %}
                {% if object.image %}
                    <div class="image">
                        <img src="{{ object.get_image_detail_url }}" />
                        {% if object.image_attribution %}
                            <div class="attribution">{{ object.image_attribution }}</div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
            <div class="content">
                <a name="jmbo-post"></a>
                {{ content_pages.0|safe }}
            </div>
            {% comment %}
            django-pagination-fork 1.0.17 can't handle the hashtag argument yet
            {% paginate hashtag='#jmbo-post' %}
            {% endcomment %}
            {% paginate %}
        {% endwith %}
    {% endultracache %}
{% endblock %}
